
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body style="background-image: linear-gradient(to bottom right, #ffecd2 , #fcb69f);">
  <div style="padding-top : 200px ; ">
  <div class="container jumbotron">
  <h1>This is an Otp Validator</h1>
    <form class="form-group" action="{% url "otp:Get Num" %}" method="post">
      {%csrf_token%}
      {{form.as_p}}
      <input type="submit" value="Get Otp">
    </form>

  </div>
  </div>

</body>
